*{
    box-sizing: border-box;
}

.social-media{
    background-color: #272A31;
}
.social-media ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap:8px;
    align-items: center;
    margin-left: 0;
    margin-right: 100px;
    margin-bottom: 0px;
}

.social-media li{
    list-style: none;
    color:white;
}

.social-media li img{
    height: 30px;
    width: 30px;
    filter: brightness(400%);
}

nav{
    background-color: none;
}
.logo{
    width: 80px;
    height: 40px;
}

.lastbutton{
    border: solid red 3px;
    width: 100px;
    padding-left: 6px;
    
}

#promotions{
    color:red;
}

.mobile-background{
    background-image: url("./images/world_tour_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
  
}

header div{
    padding-left: 12px;
    padding-right: 12px;
}

.textheader{
    padding-left: 25px;
}

.textheader-bottom p:nth-child(2){
    margin-bottom: 0;
}